
/* -------all products page------- */
.card{
    height: 450px;

    margin: 5px 5px 5px 5px;
    padding-bottom: 10px;
    box-shadow: 5px 5px 10px 0 rgb(255, 153, 0);
}
.card-body h3{
    text-align: center;
    font-weight: bold;
}
.card-body p{
    margin-bottom: 15px;
    padding: 5px 5px 0 5px;
}
.card-body a{
    background-color: #2b65ec;
    padding: 5px 8px 5px 8px;
    margin: 35px 0 5px 15px;
    border-radius: 5px;
}
.row-sorting{
    padding: 5px 5px 5px 5px;
    display: flex;
    margin-right: 40px;
    margin-top: 20px;
}
.sorting{
    padding-top: 5px;
}
select{
    border:1px solid#ff523b;
    padding: 5px;
    margin-right: 10px;
    margin-left: 800px;
}
select:focus{
    outline:none;

}
.row-sorting h1{
    width: 180px;
}
.icons{
    width: 100px;
    height: 40px;
    position: absolute;
    right: -10px;
    display: flex;
    margin-right: 300px;
}
.list,.grid{
    width:35px;
    height: 35px;
    position: relative;
    cursor: pointer;
    margin: 0 10px 0 0;
}
.list span{
    width: 30px;
    height: 5px;
    background: black;
    position: absolute;
    top: 5px;
    left: 3px ;
}
.list span:nth-child(2){
    top: 15px;
}
.list span:nth-child(3){
    top: 25px;
}
.grid span{
    width: 10px;
    height: 10px;
    background: black;
    position: absolute;
    left: 5px;
    top: 5px;
}
.grid span:nth-child(2){
    top:20px;
}
.grid span:nth-child(3){
    left:20px;
}
.grid span:nth-child(4){
    top:20px;
    left:20px;
}
.product{
    margin-top: 40px;
    margin-right: 50px;
}
/*.col-md-9.product{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.col-md-9.product div{
    width: 90%;
    height: 200px;
    display: flex;
    justify-content: center;
    box-shadow: 5px 10px 2px rgba(0,0green,0,.2);
}*/
.col-md-9.product.col-3{
    background-color: red;
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
}
.col-md-9.product.col-3 div{
    background-color: yellow;
    width: 95%;
    height: 100px;
    margin-top: 10px;
}
.page-counter-layout{
    margin: 40px 0 40px 20px;
}
.counter a{
    color: black;
    border: 2px solid black;
    padding: 10px;
    font-size: 20px;
    
}
.main{
    width: 50px;
    margin: 10px 10px 10px 10px;
    position: relative;
}
#slider{
    height: 7px;
    outline: none;
    border-radius: 3px;
}
.list-group{
   padding: 15px 5px 15px 5px;
   margin-left: 40px;
}
form#price_range{
    background-color: #fdeef4;
    width: 250px;
    height: 220px;
    padding: 20px 5px 20px 5px;
}
form#price_range label{
    margin-left: 25px;
}
form#price_range input#value{
    background-color: whitesmoke;
    max-width: 75px;
    float: right;
    margin-right: 30px;
}
form#price_range input#search{
    background-color: #1589ff;
    margin: 10px 0 10px 65px;
    padding: 2px 15px 2px 15px;
    border-radius: 10px;
    border-color: white;
}
form#price_range p{
    text-align: center;
    margin-right: 33px;
    margin-top: 10px;
}
form#price_range input#slider{
    margin-left: 10px;
    width: 220px;
    margin-bottom: 30px;
}
form#brand_selection{
    background-color: #fdeef4;
    width: 250px;
    padding: 20px 5px 20px 5px;
}
form#brand_selection input#search{
    background-color: #1589ff;
    margin: 10px 0 10px 65px;
    padding: 2px 15px 2px 15px;
    border-radius: 10px;
    border-color: white;
}
.left-panel1{
    /*background-color: red;*/
    margin-top: 40px;
    vertical-align: top;

}
.row{
 
    align-items:inherit;
}



